<div class="wrap pageContent">
    <div class="row">
        <div class="col-md-12">
            <h2>{{title}}</h2>
            <div class="blog-date">{{dmy_no post.publishDate}}</div>
            <p class="blog-into">{{intro}}</p>
            <div class="blog-content">{{markdown content.content}}</div>

            {{link-to "Back to Blog Index" "blog"}}
        </div>
    </div>
</div>